[2021-01-20 12:26] Nolski opened #3 "[CONTENT] Add OpenDesign resource from Eriol Fox/Ushahidi"
When building open source design communities, the Ushahidi project has a repository which has some useful information pertaining to open source design.

https://github.com/ushahidi/opendesign

[2021-01-26 21:55] jwflory commented on #3
@Nolski Great idea. Recently I heard @Erioldoesdesign may be exploring ways to continue this work in a new home. Nothing is set yet, but I might want to pause on adding it in case the content gets re-homed somewhere else. 🙂

[2021-01-27 10:03] Erioldoesdesign commented on #3
I forked this repo and updated with what volunteer activity I did on this in 2020. https://github.com/Erioldoesdesign/opendesign

The funded project within Ushahidi completed in December 2019 and I'm unsure what they intend to do with the repo from their perspective. I have had the first bits of conversations on this so updates will likely be in my forked repo when they happen 😄

[2021-04-01 07:44] Nolski opened #10 "Add Citation to AI Traps page"
Hi! I saw you added the page on ethics traps and just wanted to let you know that that information has been pulled from the below paper. I'm not sure why I didn't cite it on the librecorps page but just wanted to let you know :)

https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3265913

[2021-04-23 12:51] jwflory opened #12 "[HUGO] Highlight related articles at the bottom of a page"
# Summary

Every article should have suggested reading content from elsewhere at the site. The suggested reading/articles should appear at the bottom of an article.

# Background

**Is your feature request related to a problem? Please describe**:

Sometimes pages cover similar but different topics. It would be good to have a way to link out to related articles that might be interesting to a reader

[2021-04-23 12:59] jwflory opened #13 "[HUGO] Create a UNICEF-owned fork for new theme changes and improvements"
# Summary

Fork the [dot-hugo-documentation-theme](https://github.com/themefisher/dot-hugo-documentation-theme) repository to the UNICEF GitHub org so we can make custom changes and import them into our website.

# Background

**Is your feature request related to a problem? Please describe**:

It is difficult to add custom changes or tweaks to the Hugo theme used for this site. We check out a git

[2021-04-23 13:08] jwflory opened #14 "[HUGO] Make blockquotes more pretty and make citation more clear"
# Summary

Blockquote text renders in a way that I find difficult to read; it should be made prettier and clearly make an attribution.

# Background

**Is your improvement related to a problem? Please describe**:

Blockquotes are not aesthetically pleasing to me. It only adds a gray background, and the blockquote citation appears outside the gray area.

![Screenshot from "GPLv2 vs. GPLv3" article

[2021-04-23 23:09] jwflory opened #15 "[HUGO] Add team profiles as a new page archetype"
# Summary

Create a new page template, or [archetype](https://gohugo.io/content-management/archetypes/), to act as a community profiles for UNICEF Innovation Fund grantees

# Background

**Is your feature request related to a problem? Please describe**:

The current site is a knowledgebase. It does not have many social features, or ways to engage visitors other than searching the site or browsing

[2021-04-26 08:38] Idadelveloper commented on #14
Hello @jwflory . Will love to try work on this. But first I tried building the site with hugo. I've cloned the repo and ran `hugo server -D` but I get this error:
[code]
Looks like it's coming from the faq page and I can't seem to find anything helpful online to help me with this. Any idea of what I could be possibly missing?

[2021-04-26 15:15] #13 closed

[2021-04-26 15:25] jwflory commented on #13
Fork created, and git submodule updated in #16.

https://github.com/unicef/inventory-hugo-theme

[2021-04-26 15:29] jwflory commented on #14
Hi @Idadelveloper, thanks for checking this out! The issue is that you need to clone this repository with one additional **git submodule**. [Git submodules](https://git-scm.com/docs/git-submodule) are like git repos inside of a git repo. This is how we pull down the theme used in this site; it actually comes from [another git repository](https://github.com/unicef/inventory-hugo-theme)!

The "hotfi

[2021-04-26 15:37] jwflory opened #17 "[HUGO] Document how to clone repository with git submodules"
# Summary

Document how to clone this repository with the git submodule for [inventory-hugo-theme](https://github.com/unicef/inventory-hugo-theme)

# Standard debugging steps

## How to reproduce?

[code]

## Expected behavior

[code]

# Other details

Need to address with obvious documentation in the README, because this is not an obvious step.

[2021-04-26 15:38] jwflory commented on #14
Alternatively, this should work without the `git submodule update --init` step:

[code]

[2021-04-26 17:28] jwflory opened #18 "[HUGO] Add OpenGraph image and article metadata to articles / pages"
# Summary

When a hyperlink is shared from this website on a social media application, it should pull OpenGraph image and article metadata into the preview box.

# Background

**Is your feature request related to a problem? Please describe**:

When I share a link from the UNICEF O.S. Inventory site, the preview box only shows the article/page title. It is not engaging and not descriptive of the co

[2021-04-26 18:26] #17 closed

[2021-04-26 18:43] Idadelveloper commented on #14
Yes it works. Though I had to install _asciidoctor_ before running `hugo serve`

[2021-04-26 19:01] jwflory commented on #14
@Idadelveloper Good catch, I clarified the dependencies in PR #19. You might find the new contributing guidelines helpful as well:

https://github.com/unicef/inventory/blob/main/.github/CONTRIBUTING.md

[2021-04-28 15:13] Idadelveloper commented on #14
Hello @jwflory . So I made some changes to tackle this issue as you described above. Here is a screenshot of the result. What are your thoughts?

![img1 unicef](https://user-images.githubusercontent.com/56026636/116427445-f0b71800-a83b-11eb-830c-3bda2920207e.png)

[2021-04-28 17:30] jwflory commented on #14
@Idadelveloper This is amazing! 💯 It looks so much better than the existing one. Some quick feedback:

1. **With an image**: I suggest first center-aligning the citation text to the image, and then balancing the whitespace between the quote text and the end of the blockquote. Basically, move the image and citation a little higher. It feels far from the quote text.
2. **Without an image**: A little

[2021-04-28 19:03] Idadelveloper commented on #14
@jwflory regarding the 3rd screenshot all I did was change the background colour. The changes were in the the hugo theme...had to play around with some CSS.

[2021-04-28 19:13] MuluhGodson commented on #18
# Summary
Support for MetaTags (Open Graph, Twitter Cards)

**Describe the solution you'd like**:
@jwflory My solution for this issue is to use Hugo template syntax and Front Matter, both of which are already being utilized.
Hugo out of the box provides support for Meta tags (Open graphs and Twitter cards).
How ever, solving this will involve including these templates in the themes submodule which

[2021-04-28 21:06] jwflory commented on #14
@Idadelveloper OK, got it. I actually like using a background color that distinguishes the blockquote from the rest of the page contents. Since blockquotes are not used too heavily across pages, we can use extra emphasis with them.

[2021-04-28 21:11] Idadelveloper commented on #14
@jwflory  so is this background color okay?

[2021-04-28 21:52] jwflory commented on #18
Hi @MuluhGodson, thank you for your work on this!

I see you sent the Pull Request upstream in themefisher/dot-hugo-documentation-theme#163. Let us see if upstream (a la @somratpro) is willing to accept your patch. Do note that your Pull Request used an out-of-date clone of the upstream `master` branch and you have merge conflicts to solve there.

It was actually an accident that I was still using

[2021-04-28 21:56] jwflory commented on #14
Yes! I like it.

[2021-04-29 04:49] MuluhGodson commented on #12
This could be a good feature to add. However, I need more more clarification.
Currently, I am able to display related articles according to some keyword indicated in the front matter of each article.
Say in the front matter we have a keyword categories.
[code]

With this, I can group articles by this category. However to filter this grouping in such a way that only articles in this same category a

[2021-05-01 01:33] jwflory commented on #12
@MuluhGodson Thanks for both your patience and interest on this issue! I prefer the first way, where related articles will only appear in the same category as they are published. This better fits the design pattern of the theme. Let me know if this clarifies your query.

[2021-05-03 13:58] jwflory commented on #14
#23 is merged! Closing this issue as complete. Thanks @Idadelveloper for taking this one up! 🎉

Closing. 🌊

[2021-05-03 13:58] #14 closed

[2021-05-03 15:15] #18 closed

[2021-05-03 15:15] jwflory commented on #18
Thanks again @MuluhGodson for working on this!

[2021-05-04 15:23] #10 closed

[2021-05-04 18:10] jwflory opened #27 "[CONTRIB] Explain/simplify upstream, downstream, and submodule relationship"
# Summary

It is unclear where to send improvements and fixes for the Hugo theme used in the Open Source Inventory.

# Background

There is a complicated relationship between three repositories, for this one website!

* **Upstream Theme**: [themefisher/dot-hugo-documentation-theme](https://github.com/themefisher/dot-hugo-documentation-theme)
* **Downstream Theme**: [unicef/inventory-hugo-theme](ht

[2021-05-07 01:53] jwflory opened #28 "[HUGO] Add breadcrumb navigation to top of articles/content"
# Summary

Show [breadcrumb navigation](https://blog.hubspot.com/marketing/navigation-breadcrumbs) at the top of each article, connecting back to the site home page and the current categorey.

# Background

**Is your feature request related to a problem? Please describe**:

It can get confusing to navigate in sections with a lot of content.

**Describe the solution you'd like**:

Breadcrumb naviga

[2021-05-07 02:07] jwflory opened #29 "[HUGO] Render AsciiDoc Automatic TOC when used in an article"
# Summary

When a doc writer uses an [Automatic TOC](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#automatic-toc) in an AsciiDoc file, render a table-of-contents of the article.

# Background

**Is your feature request related to a problem? Please describe**:

AsciiDoc has nice support for [Automatic Table-of-Contents](https://docs.asciidoctor.org/asciidoc/latest/syntax-quic

[2021-05-07 02:22] jwflory opened #30 "[CONTENT] Meta: Hugo maintainer's guide"
## Content classification

**Request for a new page, category, or section**.
The title of the new content is: "Inventory maintainer's guide"
If a page, it will belong to this category: "Meta"

## Content description

General overview of important considerations and checks for maintainers when working with this repository. Touching on governance pieces but not fully unpacking a whole governance str

[2021-05-07 02:33] jwflory opened #31 "[HUGO] Show an icon next to sub-headings to enable easy link-sharing to specific sections"
# Summary

All sub-headings should have a one-click way to copy a link to your clipboard for a specific section of an article.

# Background

**Is your feature request related to a problem? Please describe**:

Sometimes I want to link to a specific section of a longer article. I might not want to highlight a full article, but one specific part.

**Describe the solution you'd like**:

I like using

[2021-05-07 02:38] jwflory opened #32 "[HUGO] Conduct an accessibility audit of theme and identify issues/bugs to fix"
# Summary

Use accessibility testing and/or linting tools to check for common mistakes on the Inventory site, and create new issues for identified bugs.

# Background

Accessibility is a huge field, and it is naïve to think any website is 100% accessible. So, in order to better identify gaps in this website, we need to take an "inventory" of our own score on accessibility.

# Details

Likely helpf

[2021-05-11 19:15] jwflory opened #33 "[HUGO] Export an article to a PDF"
# Summary

Add a one-click export option/button to export an article to a downloadable PDF document.

# Background

**Is your feature request related to a problem? Please describe**:

Often with the Innovation Fund, we distribute multiple documents, agreements, and other resources at once when we bring in a new Innovation Fund start-up. Usually this is via Office 365 (Word) documents and PDFs. Whi

[2021-05-20 21:28] jwflory opened #35 "[CONTENT] FAQ: Add answers to common questions by IF companies and portfolio managers"
## Content classification

_Is this about an existing page or a request for a new one?_

**Existing page**.
The URL for the existing page is: https://unicef.github.io/inventory/faq/

## Content description

In a recent workshop, several Office of Innovation portfolio managers and colleagues shared common questions and doubts they see about Open Source. In an effort to better answer common question

[2021-05-20 21:30] jwflory commented on #15
In 2021-05-18 workshop I led with my colleagues in the Venture Fund and Digital Public Good Alliance, there were several comments and feedbacks left in our Miro board about better telling the stories and experiences of other companies that took a similar journey to them into Open Source.

[2021-05-20 21:37] jwflory opened #36 "[CONTENT] On-boarding guide for OSM programme @ UNICEF"
## Content classification

_Is this about an existing page or a request for a new one?_

**Request for a new page, category, or section**.
The title of the new content is: "On-boarding Guide for UNICEF Innovation Fund teams"
If a page, it will belong to this category: "Meta"

## Content description

A single, absolute resource to use and distribute for UNICEF Innovation Fund teams when they join t

[2021-05-20 21:47] jwflory opened #37 "[CONTENT] Business strategies for Open Source"
## Content classification

_Is this about an existing page or a request for a new one?_

**Request for a new page, category, or section**.
The title of the new content is: "Business strategies for Open Source"
If a page, it will belong to this category: New category, or FOSS

## Content description

A common question we receive is how to be sustainable with Open Source. There are various resources

[2021-05-25 16:36] jwflory commented on #32
This is a handy tool to help with this exercise: https://developers.google.com/web/tools/lighthouse/

[2021-05-26 16:48] jwflory commented on #30
The maintainer's guide now exists. It still needs the CI pipeline diagram before closing as complete.

https://unicef.github.io/inventory/meta/maintainers-guide/

[2021-05-26 18:06] jwflory opened #39 "[HUGO] Add code syntax highlighting to code blocks"
# Summary

When a code block attribute is used in an AsciiDoc or Markdown file, it should appear with the correct syntax highlighting if defined in the code block metadata.

# Background

**Is your improvement related to a problem? Please describe**:

Sometimes code blocks are used in the site for different programming languages. They are always black and white, and sometimes difficult to read.

*

[2021-05-26 18:59] #30 closed

[2021-06-22 14:57] jwflory opened #41 "[HUGO] Add news items to appear at top of every page unless dismissed by user"
# Summary

Use posts in a special category / archetype to appear at the top of every page when set to active

# Background

**Is your feature request related to a problem? Please describe**:

Sometimes a maintainer needs to communicate information about the website and other news/updates. This is not instructional content, but informative content.

**Describe the solution you'd like**:

A group of

[2021-06-30 14:56] jwflory opened #42 "[CONTENT] Create a mission for creating initial community governance (vision/mission/community)"
## Content classification

**Request for a new page, category, or section**.
The title of the new content is: "Project Governance, Phase 1"
If a page, it will belong to this category: "Missions"

## Content description

Often when I get close to graduation with a VF team, they are more mature and stable than the beginning of the investment period. We start to think about governance and how to leve

[2021-07-06 18:22] jwflory commented on #15
Added a metadata list to the original ticket comment with the following additions:

1. **DPG Standard checklist** (i.e. how many of the DPG Standards has a team met? Are they ready to apply as a DPG?)
2. **Highlighted Pull Requests** (i.e. PRs that made significant enhancements to the product or its documentation)
3. **Aligned SDGs** (i.e. from the UN Sustainable Development Goals, which ones does

[2021-07-09 16:09] jwflory opened #43 "[CONTENT] Convert Markdown content to AsciiDoc"
## Content classification

**Existing page**.
The URL for the existing page is: N/A (addressing documentation source files, not HTML output)

## Content description

When this knowledgebase first launched, Markdown was used. Later I discovered that Hugo can support AsciiDoc content, which I prefer because it has more advanced syntax features than Markdown and is more efficient to manage for collec

[2021-08-03 13:09] jwflory commented on #39
Per stand-up today, @Idadelveloper is taking this issue on next for the current sprint.

[2021-08-04 16:47] jwflory commented on #39
Implemented in #45 by @Idadelveloper. Worth noting that this will require us to use Hugo's syntax highlighting format instead of the AsciiDoc code blocks. It would be nice for AsciiDoc-native code blocks to get picked up by the syntax highlighting too, but it is not a requirement. Eventually this note should be added to the Maintainer's Guide too because it will not be obvious to a new content wri

[2021-08-04 16:47] #39 closed

[2021-08-06 13:46] #28 closed

[2021-08-09 09:53] #43 closed

[2021-08-09 09:56] jwflory opened #48 "[CONTENT] Category: FOSS => Law & Policy / Governance"
## Content classification

_Is this about an existing page or a request for a new one?_

**Request for a new page, category, or section**.
The title of the new content is: "Law & Policy", "Governance"

## Content description

I propose breaking the "FOSS" category into two more specific categories. Currently, the content there focuses on licensing, policy and legal considerations, and governance.

[2021-08-09 10:33] jwflory opened #49 "[CONTENT] Trademark strategies"
## Content classification

_Is this about an existing page or a request for a new one?_

**Request for a new page, category, or section**.
The title of the new content is: "Trademark strategies"
If a page, it will belong to this category: "Law & Policy"

## Content description

The need for a clear trademark strategy is growing in awareness in FOSS. It is not a new need though, as shown by these e

[2021-08-10 14:23] #32 closed

[2021-08-10 16:44] jwflory commented on #12
Completed by #25.

[2021-08-10 16:44] #12 closed

[2021-08-11 10:29] jwflory opened #51 "[CONTENT] New Mission: Project charter"
## Content classification

_Is this about an existing page or a request for a new one?_

**Request for a new page, category, or section**.
The title of the new content is: "Project charters"
If a page, it will belong to this category: "Missions"

## Content description

In the first quarter when we work with an Innovation Fund team, we focus on the "Foundations" phase of their workplans. Some of t

[2021-08-11 14:15] #31 closed

[2021-08-13 12:55] jwflory opened #53 "[HUGO] Create reserved weight ranges; otherwise do not make weight required in posts"
# Summary

Currently, all posts must have a `weight` specified for its order in the sidebar; default behavior should be to alphabetize unless a weight is explicitly specified.

# Background

**Is your feature request related to a problem? Please describe**:

Manually specifying a weight for every post is not intuitive. It is hard to document as a convention, and is easy to become unsorted over tim

[2021-08-14 17:54] MuluhGodson commented on #12
Oh my. @jwflory Sorry for not being available. I have been very occupied with other personal commitments. But I am happy to have contributed to this issue. Will be looking at some others.

[2021-08-16 14:52] #48 closed

[2021-08-19 12:32] #33 closed

[2021-08-19 17:17] jwflory opened #60 "[HUGO] Show an author byline when author attribute entry is specified"
# Summary

Add a byline with author names and emails (if provided) when `:author:` attribute entry is used

# Background

**Is your improvement related to a problem? Please describe**:

Some articles are written by guest experts or external folks from the UNICEF Office of Innovation. It would be good to accent that visually from the body of the article content when an author is provided.

**Descri

[2021-08-19 17:38] jwflory commented on #29
Fixed by #58. Closing! 🎬

[2021-08-19 17:38] #29 closed

[2021-08-19 17:50] jwflory opened #61 "[HUGO] Create more appealing and responsive table of contents"
# Summary

The table of contents, when specified (#29 / #58), is not responsive and is somewhat visually confusing; design and implement a more modern and responsive table of contents.

# Background

**Is your feature request related to a problem? Please describe**:

The current table of contents is not visually distinct in the article. "Table of Contents" string is isolated and not visually conne

[2021-08-20 10:32] #37 closed

[2021-08-20 10:44] jwflory commented on #51
Picking up this issue from the to-do column to work on this sprint. I am aiming for a draft by end of today or on Monday, 23 August.

[2021-08-20 10:47] jwflory commented on #36
In hindsight, this should really be a direct conversion from the existing [Mentorship terms of reference](https://docs.google.com/document/d/1U_YnIx7Oe1D5O5sBN9FmI2GaC8D93P972v8jcs63EHQ/edit?usp=sharing) document. Links from the Google Doc to the Inventory page should be added once published.

[2021-08-23 05:08] Idadelveloper commented on #41
@jwflory will this be like some sort of pop-up?

[2021-08-23 09:01] jwflory commented on #41
Pardon the crude mock-up, but this is roughly the idea I had for what it would look like. It would appear as a dismissable modal at the top of every page, including articles. In this screenshot, I did a mock-up of what it might look like on the site home page.

![Screenshot of O.S. Inventory homepage, but with a crudely-drawn text box added at the top, reading about a new article being published a

[2021-08-23 13:46] Idadelveloper commented on #41
Will make use of bootstrap alert and carousel. Inside the content directory, we will have a new folder called `announcements`. Each news item will be a file of its own. I am thinking each file will have front matter with info like how long it should be displayed, and then the alert info. Inside the `default.htm`l file, will iterate through each alert(file in the new announcements directory) and pa

[2021-08-23 18:10] jwflory opened #63 "[HUGO] Enhance visibility/distinctness of AsciiDoc callout support"
# Summary

Callouts are a defined part of the `asciidoctor` tool in our pipeline, but the theme does not show callouts in the HTML page

# Background

**Is your feature request related to a problem? Please describe**:

I want to use [AsciiDoc callouts](https://docs.asciidoctor.org/asciidoc/latest/verbatim/callouts/) to annotate a blockquote or block of text.

**Describe the solution you'd like**:

[2021-08-24 08:18] jwflory commented on #63
Turns out, this does work as expected. When I tested this locally, my changes were stashed and I wasn't testing with callouts. 🤡  So, closing this as `wontfix`.

See an example of it here: https://unicef.github.io/inventory/meta/create-new-mission/#front-matter

[2021-08-24 08:18] #63 closed

[2021-08-24 10:11] jwflory commented on #42
Looking back, this issue is covered by #51, about creating a project charter. A project charter includes vision, mission, and community statements. Therefore, I am closing this one out as a duplicate and removing it from the project board. 🎬

[2021-08-24 10:11] #42 closed

[2021-08-31 14:40] jwflory commented on #15
In stand-up today, we noted team profiles should be distinguished visually from the categories, and appear as a dedicated page listed along the site header. The profiles may be stored as posts in a category, but it will not appear in the large group of categories like normal content does.

Additionally, filtering by cohort type will be important. In the beginning, we may only have eight teams, but

[2021-09-03 11:54] Idadelveloper commented on #15
@jwflory [here's](https://www.figma.com/file/kIujltrjMW3T3qeBKhm2fI/UNICEF-OS-Inventory?node-id=0%3A1) a rough sketch of what I have in mind. Open to suggestions and corrections :)

[2021-09-03 15:32] Erioldoesdesign commented on #15
I hope it's okay but I added some comments on the figma :) @Idadelveloper happy to help and do a 'design pairing' session if you'd like support?

[2021-09-03 15:41] Idadelveloper commented on #15
@Erioldoesdesign thanks for the comments. I just saw them. Will really appreciate help to come up with a great design for this. Btw I'm not a figma expert so I hope it's not that bad...

[2021-09-06 10:52] Erioldoesdesign commented on #15
@Idadelveloper not bad at all 😄 we all start somewhere and please allow me to support you 👍
If you'd like to message me to book some time to discuss or 'pair design' that would be good my email is erioldoesdesign@gmail.com

[2021-09-09 18:48] #51 closed

[2021-09-13 16:38] jwflory commented on #15
@Idadelveloper and I revisited the metadata in our stand-up today. I edited the list to remove the "relevant pull requests" and add git repos and project links, and social links.

We also clarified how the [DPG Standard](https://digitalpublicgoods.net/standard/) and [SDGs](https://sdgs.un.org/goals) could be represented on the profile card, in a more detailed overview. Ida will create a mock-up fo

[2021-09-15 09:00] jwflory commented on #41
Completed via unicef/inventory-hugo-theme#10, unicef/inventory#68, and unicef/inventory#66. Closing as complete! 🎬

[2021-09-15 09:00] #41 closed

[2021-09-15 09:07] #3 closed

[2021-09-15 16:44] Idadelveloper commented on #15
@Erioldoesdesign we sketched out the general overview of this feature while brainstorming [here](https://miro.com/app/board/o9J_lwm9B0I=/). Will be helpful for the pair design session coming up :)

[2021-09-20 13:31] #36 closed

[2021-11-08 11:11] #49 closed

[2021-11-08 13:46] jwflory opened #81 "Revise Code of Conducts page to fit existing Mission template"
## Metadata

* **Article/page title**: `Codes of Conduct`
* **Category**: `missions`
* **Tags**: `community`

## Content description

* **Intended audience(s)**: Founders and/or community leads of Open communities
* **Why should this page exist?**: It does exist, but needs structural improvements and reorganization to map how it fits into existing Mentorship programme

_Content description_:

I de

[2021-11-09 17:09] jwflory opened #83 "Explore themes for Design category and map out new content"
# Summary

Develop a list of key themes about design in open source and map out new content fitting into those themes

# Background

In the [SustainOSS Design & UX Working Group](https://sustainoss.org/working-groups/design-and-ux/), we have been talking for a while about documenting our learnings, conversations, and experiences in a more visible medium. I offered the UNICEF O.S. Inventory as a po

[2021-11-09 17:21] jwflory commented on #83
Here is some of the information I already have, just to get it out and into the open. I'll circle back to this in another week or two, [after SFScon](https://www.sfscon.it/talks/understanding-the-evolution-of-foss-community/).

## Misc. resources

* [GitHub.com design contributions](https://primer.style/contribute/design): Looks like resources for GitHub employees about design guidelines and best

[2021-11-11 09:29] Erioldoesdesign commented on #83
Jumping in here with a quick list of resources that Simply Secure are building for OSS tool developers that connects to this project: https://usable.tools/blog/

#1 User testing can be fun - A short introduction and interactive guide for devs on usertesting
#2 A dev's guide to user testing - a more intensive guide and series of activities to build a usertesting function and appreciation of usertes

[2021-11-22 16:07] jwflory commented on #83
Heard about this from @jonatoni. The [Orbit design system](https://orbit.kiwi/) from Kiwi.com is a neat example of design documentation. Bonus points for being [fully open source](https://github.com/kiwicom/orbit).

[2021-11-23 18:29] iperdomo opened #96 "Remove TravisCI from the suggested CI platforms"
# Summary

Travis CI has changed their offering to open source projects. And the suggested platform `travis-ci.org` is not longer available:

![2021-11-23_1238x232](https://user-images.githubusercontent.com/178474/143082225-12c88228-c969-4c46-884e-5e065983364f.png)

* https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps
* https://mailchi.mp/3d439eeb1098/trav

[2021-11-23 18:33] jwflory commented on #96
Thanks for opening this @iperdomo. +1. I don't recommend Travis anymore for the same pricing plan reason. And also faced the long build times you mentioned. 😅 Somehow I suspect those two things are related…

I'll get a PR up today or tomorrow to drop it from the list. 👍🏻

[2021-11-23 18:58] iperdomo commented on #96
@jwflory I can open a PR and get my first contribution to the Inventory 😄

[2021-11-23 19:06] jwflory commented on #96
@iperdomo Go for it! 💯

[2021-11-24 16:47] #96 closed

[2021-11-30 16:26] Idadelveloper opened #98 "Wrap text description of profile cards around logo"
# Summary

Wrap the text descriptions of the team profile cards around the logo to get rid of redundant space. When the number of characters of the short description increases, the spacing beneath the logo increases as well. It will be better if part of the text is wrapped around the image to give the cards a better look.

**Screenshots**:

![globaleaf](https://user-images.githubusercontent.com/56

[2021-11-30 16:38] Idadelveloper opened #99 "Adjust navigation bar on mobile devices"
# Summary

The navigation bar looks alright on desktop or larger screens. However, the text in it looks disorganized on mobile devices.

## What you expected to happen

All items in the navbar should be aligned to the center and equally spaced.

## What actually happened
Currently, the link to UNICEF global is left-aligned.

**Screenshots**:

![unicefbannerissue](https://user-images.githubusercont

[2021-11-30 16:52] Idadelveloper opened #100 "Add spacing between navigation bar and main content of cohort pages"
# Summary

The navigation bar seems to be overlapping with the main content of all the cohort pages (https://unicef.github.io/inventory/cohorts/)

## What you expected to happen

There is supposed to be some spacing between the navbar and main content like [here](https://unicef.github.io/inventory/communities/fedora/) for example.

**Screenshots**:

![cohort-page](https://user-images.githubusercon

[2021-11-30 17:09] Idadelveloper opened #101 "Remove sub-sections from sidebar of cohort pages"
# Summary

The sidebar of the cohort pages is getting too long with the addition of new start-ups. It's even worse on mobile devices where the user will have to scroll endlessly before reaching the main content. (https://unicef.github.io/inventory/cohorts/blockchain/)
It will be better if just the 5 main categories of the cohorts (_Blockchain, Drones, AR+VR, Data Science & AI, and Others_) are the

[2021-12-02 20:39] jwflory commented on #98
Added to the project board for this sprint.

[2021-12-02 20:39] jwflory commented on #100
Added to the project board for this sprint.

[2021-12-06 17:13] #100 closed

[2021-12-10 15:51] jwflory commented on #83
Following up here. Taking a first pass at identifying common themes across these examples above, as well as identifying some next steps for where to take this work. I'm hoping to present this next Tuesday (2021 December 14) at the monthly Sustain OSS [Design & UX Working Group](https://sustainoss.org/working-groups/design-and-ux/) meeting.

## Possible themes / topics

* **Defining design**: When

[2021-12-13 20:31] Erioldoesdesign commented on #83
These themes and the descriptions are *perfect* Justin!!!! 💐

I vote we spend some time thinking about sub categories but also that we try to find 1 resource that fits each sub category or assign a person to seek an appropriate resource for each sub category.

e.g.
Big Theme: For the maintainers

Sub theme: Making a design-contributions.md
Resource: a good example of a design-contrinbutions md fil

[2021-12-14 03:04] georgiamoon commented on #83
Late chiming into the thread...

@jwflory does the UNICEF knowledge base have the ability to add entries from external content?

My question re: the options of how to build this out and where would be around audience and goals. I wonder if some things should live at each location but be curated / tailored for a UNICEF vs Sustain audience in various appropriate ways?

I can't make the call tomorrow

[2021-12-14 16:00] jwflory commented on #83
This could be useful for calls to contribute in the working group too. For example, in Slack and on Discourse, if folks want to participate asynchronously outside of meetings.

I have no issue hosting here. The advantage of the Inventory is it gives us somewhere to publish quickly and it is maintained as part of the Open Source Mentorship provided by the [UNICEF Innovation Fund](https://www.unicef

[2021-12-22 20:06] #83 closed

[2021-12-22 20:16] jwflory commented on #83
Hi, as a follow-up here, the theme for the Design category are explored and a map for new content exists on the SustainOSS Design knowledge-base site. This was soft-launched in sustainers/design#3 and unicef/inventory#109. I closed this issue so the discussion can move to the issue tracker of the new project site:

https://github.com/sustainers/design/issues

I will open new issues there to guide

[2022-01-05 17:11] #98 closed

[2022-01-05 22:10] jwflory commented on #27
I updated the contributing guidelines in commit 94c4fd4d66eba50b8cb902303668f307abf43849. Since this issue was opened, the flow of changes is more clear and the use of this theme as a building block for other UNICEF Innovation sites and projects is emerging. I am going to leave it at that last commit and close this issue as complete.

[2022-01-05 22:10] #27 closed

[2022-01-07 00:53] jwflory opened #113 "New article: Synchronous and asynchronous communication tools"
_This came up in conversation with BX Smart Labs in their monthly Open Source Mentorship check-in call on 6 January 2022_.

## Metadata

* **Article/page title**: Synchronous and asynchronous communication tools
* **Category**: Project Management
* **Tags**: `communication`, `community`

## Content description

* **Intended audience(s)**: Open source community leads, developers, project managers,

[2022-01-07 21:55] jwflory opened #115 "Final internship sprint for Ida (Weeks 24-25)"
# Summary

Create onboarding guidance for future interns or volunteers who would work on the UNICEF Open Source Inventory and/or the UNICEF Inventory Hugo theme.

# Background

In the past few months, the Open Source Inventory has come a long way! The Team Profiles feature [debuted](https://github.com/unicef/inventory/pull/78) and several start-ups are [already featured](https://unicef.github.io/i

[2022-02-03 11:09] jwflory commented on #115
Thanks @Idadelveloper for all your hard work over the last many months! We are going to miss you in the Office of Innovation. All the best on what comes next. 🚀

[2022-02-03 11:09] #115 closed

[2022-02-04 05:44] Idadelveloper commented on #115
@jwflory thanks too for all the support.

[2022-02-26 11:47] Syed-Ansar commented on #113
can @jwflory explain me what to do ?

[2022-02-28 16:50] jwflory commented on #113
Hi @Syed-Ansar, thank you for your interest on the UNICEF Open Source Inventory! I already assigned this issue to me because it is an article I wanted to write with a specific vision in mind. It comes from feedback I have working with [UNICEF Innovation Fund start-up companies](https://www.unicefinnovationfund.org). It is better to find other things to work on.

Are you more interested in writing

[2022-02-28 16:51] jwflory commented on #113
Also, as a note, I am out of office this week so I will be slow to reply. Next week, I will be back online and can better respond to queries for help.

[2022-02-28 20:01] Syed-Ansar commented on #113
Yes! I am interested in coding. Yesterday I tried to setup repository on my local computer but I was not able to do correctly. So would be happy if I get any help from your side. Thank you @jwflory

[2022-03-01 08:41] jwflory commented on #113
@Syed-Ansar I think this intern on-boarding guide will be useful until I am back in the office and can troubleshoot more questions:

https://unicef.github.io/inventory/meta/inventory/intern-guide/

[2022-03-11 15:11] jwflory opened #124 "[tracker] Outreachy Internship: Improve UI/UX of UNICEF Inventory and redesign site around the Digital Public Goods Standard"
_This is a meta issue to track the overall Outreachy internship project for May-August 2022._

---

# Summary

There are two goals for the internship:

1. Improve UI/UX of the Inventory [Hugo](https://gohugo.io/) theme, so it is more responsive and user-friendly.
1. Redesign the existing categories to map to the [Digital Public Goods Standard](https://digitalpublicgoods.net/standard/), and work wi

[2022-03-11 15:13] jwflory commented on #124
_NOTE_: If you are an Outreachy applicant and want to work on this project during the contribution phase, please start with these three issues first:

1. unicef/inventory-hugo-theme#59
2. unicef/inventory-hugo-theme#60
3. unicef/inventory-hugo-theme#61

[2022-03-29 17:35] jwflory opened #128 "Migrate Data Ethics & Transparency category to Data Science Toolkit"
# Summary

Migrate the _Data Ethics & Transparency_ category in the Open Source Inventory into the [_Data Science & AI Toolkit_](https://github.com/unicef/ooi-toolkit-ds).

# Background

@dalvarez83 is leading as our Data Science & AI Mentor at the [Venture Fund](https://www.unicefinnovationfund.org/), where we are also leading on creating new toolkits to support Venture Fund open source start-ups

[2022-03-31 11:03] yokwejuste opened #129 "On runnig hugo serve -D from inventory on error occur."
# Summary

On following up [Step 2 issue](https://github.com/unicef/inventory-hugo-theme/issues/60) for Outreachy interns for this cohort, I got some challenges and difficulties. At the level of the [cohorts.html](https://github.com/unicef/inventory/blob/main/layouts/partials/cohorts.html), there was a problem at the level of  [line 110](https://github.com/unicef/inventory/blob/main/layouts/partia

[2022-03-31 11:04] yokwejuste opened #130 "🤦🏼‍♂️ On runnig hugo serve -D from inventory on error occur."
# Summary

On following up [Step 2 issue](https://github.com/unicef/inventory-hugo-theme/issues/60) for Outreachy interns for this cohort, I got some challenges and difficulties. At the level of the [cohorts.html](https://github.com/unicef/inventory/blob/main/layouts/partials/cohorts.html), there was a problem at the level of  [line 110](https://github.com/unicef/inventory/blob/main/layouts/partia

[2022-03-31 13:31] #130 closed

[2022-03-31 13:36] yokwejuste commented on #129
My Hugo version is
![Screenshot from 2022-03-31 14-33-39](https://user-images.githubusercontent.com/71908316/161067199-6a2f16f9-938a-4919-9799-7525c3580cc5.png)
And from the Hugo released website, I got this info
![image](https://user-images.githubusercontent.com/71908316/161067418-7ca8520e-112b-48d5-8598-fde49f92daab.png)

[2022-03-31 13:53] jwflory commented on #129
@yokwejuste Could you try upgrading to a newer version of Hugo and retest? I am not getting this issue. It could be because the Ubuntu repositories ship an outdated binary for Hugo.

Hugo releases notes are [no longer published](https://gohugo.io/news/no-more-releasenotes-here/) on the website, but you can find [new releases on GitHub](https://github.com/gohugoio/hugo/releases). The current versio

[2022-04-01 19:38] barcha47 commented on #128
Hey @jwflory , i can't find **unicef/ooi-toolkit-data** repositery?

[2022-04-01 21:45] dalvarez83 commented on #128
@jwflory @barcha47 It should be the content located [here](https://github.com/unicef/inventory/tree/main/content/data)

[2022-04-02 10:10] barcha47 commented on #128
@dalvarez83  thats the source repo you mentioned , i was looking for desitnation repo : ** unicef/ooi-toolkit-data**

[2022-04-02 10:11] barcha47 commented on #128
hey @jwflory  I would like work on this issue.

[2022-04-04 08:37] Abbiefied commented on #124
Hello @jwflory , I have completed the three tasks and i would like to work on this task. Thank you!

[2022-04-04 15:57] dalvarez83 commented on #128
@jwflory @barcha47 I think you are referring to [ooi-toolkit-ds](https://github.com/unicef/ooi-toolkit-ds)/[content](https://github.com/unicef/ooi-toolkit-ds/tree/main/content)

[2022-04-05 03:31] jwflory commented on #124
@Abbiefied Hi, this issue is for the full internship. For the Outreachy contribution period, the [theme issue tracker](https://github.com/unicef/inventory-hugo-theme/issues) is the best place to look for new tasks.

I would also like to note that I [closed the project for new applicants](https://www.outreachy.org/communities/cfp/unicef/) in the Outreachy portal. It is a very competitive round and

[2022-04-05 03:34] jwflory commented on #128
Hi @barcha47, this issue is not ready for contribution. For the Outreachy contribution period, the [theme issue tracker](https://github.com/unicef/inventory-hugo-theme/issues) is the best place to look for new tasks.

I would also like to note that I [closed the project for new applicants](https://www.outreachy.org/communities/cfp/unicef/) in the Outreachy portal. It is a very competitive round an

[2022-04-05 08:02] barcha47 commented on #81
Hey @jwflory  can i work on this issue?

[2022-04-05 16:57] jwflory commented on #81
Hi @barcha47, this is a content task and something I will revise in the coming weeks. The `C: content` issues are not good issues to work on for Outreachy applications.

[2022-04-05 17:13] barcha47 commented on #81
@jwflory please assign me a task , I want to work on an issue of UNICEF UX/UI project.

[2022-05-10 20:33] jwflory commented on #124
The scope for the DPG Standard redesign may change. As we review existing open source guidance and resources for Venture Fund companies and the DPG Alliance about the DPG Standard, there is an opportunity to consolidate our efforts to a single project. There are two other places where information about the DPG Standard is published:

* [DPG Resources](https://resources.digitalpublicgoods.net/): A

[2022-06-22 01:33] #128 closed

[2022-09-16 18:18] #129 closed

[2022-09-16 18:20] jwflory commented on #124
Over the last three months, @Neha9849 heroically led the charge on completing this project! In addition to several UI/UX improvements and conducting many user interviews with Venture Fund staff and portfolio company founders & tech leads, we have a new design of the UNICEF Open Source Inventory that reflects the Digital Public Goods Standard (PR #136). I intend to make a final pass and get this me

[2022-09-16 18:20] #124 closed

[2022-09-16 18:27] jwflory opened #142 "Update existing article: Overview of UNICEF Open Source Inventory"
## Metadata

* **Article/page title**: Overview of UNICEF Open Source Inventory
* **Category**: `meta` (or Mentoring after #136 is merged)
* **Tags**: TBD

## Content description

* **Intended audience(s)**: UNICEF Venture Fund mentors, portfolio managers, and start-up companies
* **Why should this page exist?**: Provide historical background and context about the site, share important information

[2022-09-16 18:32] Neha9849 commented on #124
Thanks Justin🙌

[2022-09-17 06:26] jwflory commented on #35
Related to unicef/inventory-hugo-theme#162.